certifi
chardet
defusedxml
diff-match-patch
Django
django-import-export
django-widget-tweaks
djangorestframework
et-xmlfile
idna==2.9
jdcal
oauthlib
odfpy
openpyxl
PyJWT
python-decouple
python-social-auth
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
tablib
unicodecsv
urllib3
xlrd
xlwt
