{% load static from staticfiles %}
<!DOCTYPE html>
<html lang = "en">

   <head>
      <meta charset = "utf-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">

      <title>{% block title %}{% endblock %} FreePL | Mukti 2016</title>

      <!-- Bootstrap -->
      <link href="{% static "css/bootstrap.min.css" %}" rel = "stylesheet" />
      <link href="{% static "css/main.css" %}" rel = "stylesheet" />
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/matches.css" media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

      <!--[if lt IE 9]>
      <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

   </head>

   <body>
      <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <span class="brand-logo">&nbsp;FreePL</span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user and not user.is_anonymous %}
                <li>Hello {{ user.get_full_name|default:user.username }}</li>
                {% endif %}
                <li><a href="/matches">All Matches</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/rules">Rules</a></li>
                {% if user and not user.is_anonymous %}
                <li> <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
</div>
      {% block body %}<h1>Hello, world!</h1>{% endblock %}

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src = "{% static "js/jquery.min.js" %}"></script>
      <script src = "{% static "js/bootstrap.min.js" %}"></script>

   </body>
</html>