{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="view" name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1">
    <title>freepl | Mukti</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/styles.css">
 <style>
    .image_full{
	display:none;
  }

 .image_mobile{
  display:none;
 }

@media (max-width: 640px) and (min-width: 320px){
  .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
  }
}
     </style>
</head>
<body>
<div class="promo">
    <video autoplay="autoplay"  loop="loop" muted="muted">
        <source src="/static/assets/vid.mp4" type="video/mp4" class="image_full">
    </video>
    <div class="image_mobile"  >
	<img src="/static/assets/ganguly.jpg" class="img-responsive" >
    </div>	

    <div class="caption">
        <div class="heading">FREEPL</div>
        <div class="heading2">Log In To <span style="color: orange">P</span><span style="color: #f5f5f5">LA</span><span
                style="color: #54c92d">Y</span></div>
        <img src="/static/assets/facebook.png" class="logo_facebook" height="64" width="64">
        <a href="{% url 'social:begin' 'facebook'%}?next={{ request.path }}">
            <div class="facebook">
                Log In With Facebook
            </div>
        </a>

        <img src="/static/assets/google.png" height="64" width="64" class="logo_google">
        <a href="{% url 'social:begin' 'google-oauth2'%}?next={{ request.path }}">
            <div class="google">
                Log In With Google
            </div>
        </a>
    </div>
</div>
</body>
</html>
