
<!DOCTYPE html>
<html lang="en">
<head>
<title>FREEPL | Home </title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bike World Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="static/css/style1.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="static/css/font-awesome.css" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="static/css/mdb.min.css">
<!-- //font-awesome icons -->
<!-- font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="static/js/jquery-1.11.1.min.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/SmoothScroll.min.js"></script>
<script src="static/js/jarallax.js"></script>
</head>
<body>
	
	<div class="banner">
		
		<div class="w3ls-slider">
			<div class="header-top">
				<div class="container banner-drop">
					<div class="agile-logo">
						<a href="http://avskr.in/" target="_blank">
						<img src="static/images/logo.png"  style="width: 37%;"/></a>
						<a href="http://nitdgplug.org/" target="_blank">
						<img src="static/images/glug.png"  style="width: 22%;"/></a>
						<a href="#"><img src="static/images/whiteline.png"  style="width: 12%;"/></a><a href="http://www.nitdgp.ac.in/" target="_blank">
						<img src="static/images/nit.png"  style="width: 22%;"/></a>
					</div>
					<div class="header-right">
							<nav>
							  <ul>
								<li class="active">
									<a href="https://github.com/lugnitdgp/freepl_main" target="_blank"><span>Source Code</span></a>
								</li>
								<li>
									<a href="leaderboard/"><span>Leaderboard</span></a>
								</li>
								<li>
									<a href="rules/"><span>Rules</span></a>
								</li>
								<li>
									<a href="http://www.cricbuzz.com/" target="_blank"><span>CricBuzz</span></a>
								</li>
							  </ul>
							</nav>
							<div class="menu-icon"><span></span></div>
					</div>
					<div class="clearfix"> </div>
					<script>
						(function($){
						  $(".menu-icon").on("click", function(){
								$(this).toggleClass("open");
								$(".container").toggleClass("nav-open");
								$("nav ul li").toggleClass("animate");
						  });
						  
						})(jQuery);
					</script>
				</div>
			</div>
					<div class="page-header__content">
						<div class="text-bg">
							<svg>
								<defs>
									<mask id="mask" x="0" y="0" width="100%" height="100%">
										<rect id="alpha" x="0" y="0" width="100%" height="100%"/>
										<text id="title1" x="51%" y="23%" dy="1em" letter-spacing="0.02em" style="font-size: 190px; font-family: 'espn'" >FREEPL</text>
									</mask>
									<mask id="mask-2" x="0" y="0" width="100%" height="100%">
										<rect id="alpha-2" x="-66%" y="0" width="100%" height="100%" transform="skewX(40)"/>
										<text id="title2" x="50%" y="30%" dy="1em" letter-spacing="0.02em" style="font-size: 190px; font-family: 'espn' ">FREEPL</text>
									</mask>
									<mask id="mask-3" x="0" y="0" width="100%" height="100%">
										<rect id="alpha-3" x="-66%" y="0" width="100%" height="100%" transform="skewX(40)"/>
										<text id="title3" x="50%" y="30%" dy="1em" letter-spacing="0.02em" style="font-size: 190px; font-family: 'espn' ">FREEPL</text>
									</mask>
								</defs>
								<rect id="base" x="0" y="0" width="100%" height="100%" mask="url(#mask)"/>
								<rect id="base-3" x="0" y="0" width="100%" height="100%" mask="url(#mask-2)"/>
								<rect id="base-4" x="0" y="0" width="100%" height="100%" mask="url(#mask-3)"/>
								<text id="title4" x="50%" y="30%" dy="1em" letter-spacing="0.02em" style="font-size: 190px; font-family: 'espn' ">FREEPL</text>
							</svg>
						</div>
					</div>
				<div class="w3l-banner-grids">
					<div class="container">
						<div class="slider">
							<div class="callbacks_container">
								<ul class="rslides" id="slider4">
									<li>
										<div class="w3ls-text">
											<p><b> With a total of 18,426 runs, Sachin Tendulkar has scored the most runs in ODIs</b></p>
											
										</div>
									</li>
									<li>
										<div class="w3ls-text">
											<p><b> With a total of 534 wickets, Muttiah Muralitharan is the highest wicket-taker in ODI</b></p>
											
										</div>
									</li>
									<li>
										<div class="w3ls-text">
											<p><b>Averaging at 67.00, Ryan ten Doeschate has the highest career average in ODI </b></p>
											
										</div>
									</li>
									<li>
										<div class="w3ls-text">
											<p><b>Andre Russel has the highest strike rate in ODI at 130.81</b> </p>
											
										</div>
									</li>
									<li>
										<div class="w3ls-text">
											<p><b>With a total of 5122 runs, Mishbah-Ul-Haq has the most runs in an ODI carrer without a century</b></p>
											
										</div>
									</li>
									<li>
										<div class="w3ls-text">
											<p><b>With a score of 237 not out, Martin Guptill has the highest score batting at number 1 position</b></p>

										</div>
									</li>
								</ul>
							</div>
							<script src="static/js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider4").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>
							
						</div>
						<div class="login-buttons" >
						<a class="btn btn-fb waves-effect waves-light" href="{% url 'social:begin' 'facebook' %}" role="button">
	                    <i class="fa fa-facebook left"></i> Facebook	</a>
	                    <a class="btn btn-gplus waves-effect waves-light" href="{% url 'social:begin' 'google-oauth2' %}" role="button">
	                    <i class="fa fa-google-plus left"></i> Google+
	                	</a>
                	</div>
					</div>
				</div>
		</div>
		<div class="social-grids">
			<div class="container">
				<div class="agileinfo-social-grids">
					<ul>
						<li><a href="https://www.facebook.com/nitdgplug"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		
</body>	
</html>