{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Leaderboard Table</h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Total Score</th>
                </thead>
                <tbody>
                    {% for i in persons %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.total_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>

{% endblock %}